*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --yellow: #fff466;
    --green: #24f08b;
    --violet-square:#8f5de1;
    --violet-dark: #700eb0;
    --pink: #f8479d;
}
html{
    font-size: 62.5%;
    font-family: 'Poiret One', cursive;
}
body{
    background-color: var(--pink);
    max-height: 100%;
    max-width: 100%;
    overflow: hidden;
}
.container{
    margin: 0 auto;
    width: 70vw;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
   
}
.quadrati{
    border: 1px solid var(--violet-dark);
    flex: 0 1 calc(100% / 6);
    height: calc(100% / 6);
    background-color: var(--violet-square);
    transition: all .2s;
    font-size: 6rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.quadrati:hover{
    transform: scale(1.04);
}
.quadrati:active{
    transform: scale(1);
}
.green{
    background-color: var(--green);
    color: var(--violet-dark);
}
.yellow{
    background-color: var(--yellow);
    color: var(--violet-dark);
}